.featured-products {
    // margin-bottom: 50px;

    @media (max-width: 501px) {
        background-color: $primary-color;
    }
    @media (min-width: 750px) {
        margin-top: 40px;
    }

    .section-block {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // overflow: hidden;

        &:hover {
            @include hover-shadow;

            .collection-card__meta {
                // @include text-float-transition;
                left: -5px !important;
            }

            .featured-character {
                @include hover-highlight-shadow
            }
        }
        
        @media (min-width:750px) {
            padding: 40px 20px;

            &.left {
                .grid.collection {
                    direction: rtl;
                }
                .featured-character {
                    left: -50px;
                    top: 20px;
                }
            }
            
            &.right {
                .featured-character {
                    right: 0px;
                    top: 20px;
                }            
            }
        }
    }

    .collection-link {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .featured-product-frame {
        position: absolute;

        @media (max-width: 749px) {
            visibility: hidden;       
        }
    }
    
    .featured-character {
        position: absolute;
        z-index: 5;
        
        img {
            transition: opacity ease-in-out 2s;
            opacity: 1;
            height: 40vw;
            max-height: 400px;
        }
        
        @media (max-width: 749px) {
            visibility: hidden;
            img {
                opacity: 0;
            }
        }        
    }

    .grid.collection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        align-items: center;
        
        width: 90%;
        height: 90%;
        margin-top: 7vw;
        margin-bottom: 30px;
        
        .grid__item {
            height: min-content;
            background-color: $primary-color;
        }

        @media (max-width:749px) {
            .grid__item:nth-child(n+6) {
                display: none;
            }
        }

        @media (min-width:750px) {
            margin-top: 7vw;
            grid-template-columns: repeat(5, 1fr);
        }
        @media (min-width:1200px) {
            margin-top: 84px;
        }
    }
    
    .collection__cover {
        // COLLECTION LINK
        // overflow: visible;

        @media (min-width: 750px) {
            display: none;     
        }
        
        .collection-card {
            position: relative;
            // background-image: url("/src/assets/featured-products/cicada-picture.webp");
            z-index: 1;
            display: block;
            height: 320px;
            padding: 12.5px;
            
            &__meta {
                display: block;
                position: absolute;
                @include text-float-transition;

                bottom: 20px;
                margin-right: 10px;
                z-index: 2;
                left:-10px;
            }
            
            &__title {
                display: inline;
                background-color: $secondary-color;
                color: $secondary-font-color;
                box-shadow: 5px 8px 15px #0000004d;
                
                margin-bottom: 10px;
                padding: 2px 10px;
                font-size: 1.625em;
                line-height: 1.4;
                letter-spacing: 0;
                
                -webkit-box-decoration-break: clone; //This is interesting
                box-decoration-break: clone;
            }
            
            &__subtext {
                position: relative;
                right: -8px;
                font-weight: 700;
                color: $secondary-font-color;
                margin: 10px 0 0 10px;
            }
        }                    
    }
}