.footer {
    background-color: $accent-color;
    color: $misc-font-color;
    padding-top: 20px;
    
    @media (min-width: 750px) {
        padding-top: 40px;
    }
    
    a, i {
        color: $misc-font-color;

        &:hover {
            color: $secondary-font-color;
        }
    }

    .flex-footer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        margin: auto;
        
        .flex__item {
            position: relative;
        }
        
        @media (min-width:750px) {
            flex-direction: row;

            .flex__item {
                flex: 1 1 20%;
            }
        }
    }

    &__section {
        padding-bottom: 20px;

        &-title {
            font-size: 1.5em;
            color: $secondary-font-color;
        }
    }

    &__list {
        list-style: none;

        &-item {
            margin-bottom: 10px;
        }
    }

    .social-icons {
        display: flex;
        list-style-type: none;

        a {
            display: block;
            height: 24px;
            width: 24px;

            margin: 0 10px 10px 0;
        }
    }

    &__copyright {
        text-align: center;
        border-top: 1px solid $accent-light-color;
        padding: 10px 0;
    }
}