.header {
    border-bottom: 5px solid $secondary-color;
    background: $accent-color;
    position: relative;
    z-index: 100;

    //Main Header (Top)
    &__upper {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        z-index: 100;
        

        @media (min-width:750px) {
            padding: 20px;
        }

        .nav-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            @include hide-after-750;

            button {
                background: #fff0;
                border: none;
            }
        }
        
        .company-logo {
            &__link {
                width: fit-content;
                height: fit-content;
            }

            &__image {
                width: 140px;
            }
        }
    }
    
    
    .store-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .searchbar {
            @include hide-before-750;
            @include show-search-when-focused;
        }

        &__cart-link {
            position: relative;
            &:hover i {
                color: $secondary-color;
            }
        }

        &__cart-notification {
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
    
    i {
        width: 45px;
        height: 45px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        color: $primary-color;
        &:hover {
            color: $secondary-color;
        }
    }

    //Sticky Header (Bottom)
    &__sticky-wrapper {
        height: 59.25px;
        @include hide-before-750;
    }

    &__sticky {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        position: relative;
        z-index: 99;

        // transition: transform 0.3s ease-in-out;

        .universe-dropdown {
            &__button {                
                height: 100%;
                padding: 20px;

                background-color: rgb(0,0,0,0);
                border: none;

                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                color: $secondary-font-color;

                i {
                    display: inline-block;
                    height: min-content;
                    width: min-content;
                    padding-left: 5px;
                }

                &:focus {
                    background-color: $accent-lighter-color;

                    i {
                        transform: rotate(180deg);
                        padding-right: 5px;
                        padding-left: 0;
                    }
                }
            }

            .active-link {
                font-weight: 700;
                color: $primary-font-color;
                &:hover {
                    color: $secondary-color;
                }
            }

            &__content {
                background-color: $primary-background-color;
                padding-bottom: 20px;

                h1 {
                    margin: 0;
                    font-size: 60px;
                    color: #c2cb2033;
                    font-weight: 900;
                }
            }
        }

        &-links {
            display: flex;
            // gap: 20px;

            a {
                padding: 20px 10px;
                color: $misc-font-color;
                text-transform: uppercase;
                font-size: 14px;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        &.sticky {
            width: 100%;

            @media (min-width:750px) {
                position: fixed;
                top: 0;
    
                transition: all .35s cubic-bezier(.33,.59,.14,1);
                background-color: $accent-color;
                border-bottom: 5px solid $secondary-color;            
            }        
        }
    }
}

//Side Menu
.offcanvas-nav {
    max-width: 300px;
    padding-right: 25px;

    // .offcanvas-header {}

    .searchbar {
        width: 100%;

        .searchbar-results-container {
            display: none;
        }

        i {
            width: 45px;
            height: 45px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            // color: $primary-color;
            &:hover {
                color: $secondary-color;
            }
        }
    }    

    .offcanvas-body {
        padding: 0;
        
        & > div, & > a {
            border-bottom: 1px solid $accent-light-color;
        }
        
        button {
            background-color: #fff0;
            border: none;
            cursor: pointer;
            
            &:hover i {
                opacity: 0.6;
            }
        }
    }

    .offcanvas__universe {
        display: grid;
        grid-template-columns: 1fr 1fr;

        // .active-link {
        //     font-weight: 700;
        //     color: $primary-font-color;
        //     &:hover {
        //         color: $secondary-color;
        //     }
        // }
    }
}