.header {
    border-bottom: 5px solid $secondary-color;
    background: $accent-color;
    position: relative;
    z-index: 100;

    //Main Header (Top)
    &__upper {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        z-index: 100;
        

        @media (min-width:750px) {
            padding: 20px;
        }

        .nav-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            @include hide-after-750;

            button {
                background: #fff0;
                border: none;
            }
        }
        
        .company-logo {
            &__link {
                width: fit-content;
                height: fit-content;
            }

            &__image {
                width: 140px;
            }
        }
    }
    
    
    .store-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .searchbar {
            @include hide-before-750;
            @include show-search-when-focused;
        }

        &__cart-link {
            position: relative;
            &:hover i {
                color: $secondary-color;
            }
        }

        &__cart-notification {
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
    
    i {
        width: 45px;
        height: 45px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        color: $primary-color;
        &:hover {
            color: $secondary-color;
        }
    }

    //Sticky Header (Bottom)
    &__lower-wrapper {
        @media (min-width:750px) {   
            height: 59.25px;
        }
    }
    
    &__lower {
        &.isSticky {
            position: fixed;
            width: 100%; 
            transition: all .35s cubic-bezier(.33,.59,.14,1);
            
            @media (max-width:749px) {
                top: 0;
            }
            @media (min-width:750px) {   
                top: 0;

                .header__lower-nav {
                    position: relative;
                    background-color: $accent-color;
                    border-bottom: 5px solid $secondary-color;      
                }      
            }
        }
    }

    &__notification {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        
        transition: all .35s cubic-bezier(.33,.59,.14,1);
        
        &-success {
            background-color: $secondary-color;
            &:hover {background-color: $secondary-hover-color;}
        }
        &-error {
            background-color: $sold-out-color;
            &:hover {background-color: $badge-color;}
        }
        
        &__inner {
            opacity: 0;
            height: 0;
            transition: all .35s cubic-bezier(.33,.59,.14,1);
            color: $secondary-font-color;
            
            & > a, & > p {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0;
                padding: 7px 5px;

                font-weight: 700;
                color: $secondary-font-color;

                .header__notification__message-link {
                    text-decoration: underline;
                }
            }

        }
        
        &.isActive {
            bottom: -59.25px;

            .header__notification__inner {
                opacity: 1;
                height: 59.25px !important;
            }
        }
    }
    
    &__lower-nav {
        @include hide-before-750;

        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        // position: relative;
        z-index: 99;

        &-links {
            display: flex;
            // gap: 20px;
    
            a {
                padding: 20px 10px;
                color: $misc-font-color;
                text-transform: uppercase;
                font-size: 14px;
    
                &:hover {
                    color: $primary-color;
                }
            }
        }    

        // transition: transform 0.3s ease-in-out;

        .universe-dropdown {
            &__button {                
                height: 100%;
                padding: 20px;

                background-color: rgb(0,0,0,0);
                border: none;

                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                color: $secondary-font-color;

                i {
                    color: $primary-color;
                    display: inline-block;
                    height: min-content;
                    width: min-content;
                    padding-left: 5px;
                }

                a {
                    position: absolute;
                    display: none;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }
                
                &:focus, &:focus-within {
                    background-color: $accent-lighter-color;

                    a:not(.active-link) {display: block;}

                    i {
                        transform: rotate(180deg);
                        padding-right: 5px;
                        padding-left: 0;
                    }
                }
            }

            .active-link {
                font-weight: 700;
                color: $primary-font-color;
                pointer-events:none;

                &:hover {
                    color: $secondary-color;
                    // cursor: pointer;
                }
            }

            &__content {
                background-color: $primary-background-color;
                padding-bottom: 20px;

                h1 {
                    padding: 12px 16px;
                    text-align: center;
                    margin: 0;
                    font-size: 60px;
                    color: #c2cb2033;
                    font-weight: 900;
                }
            }
        }
    }
}

//Side Menu
.offcanvas-nav {
    max-width: 300px;
    padding-right: 25px;

    // .offcanvas-header {}

    .searchbar {
        width: 100%;

        .searchbar-results-container {
            display: none;
        }

        i {
            width: 45px;
            height: 45px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            // color: $primary-color;
            &:hover {
                color: $secondary-color;
            }
        }
    }    

    .offcanvas-body {
        padding: 0;
        
        & > div, & > a {
            border-bottom: 1px solid $accent-light-color;
        }
        
        button {
            background-color: #fff0;
            border: none;
            cursor: pointer;

            i {
                transition: transform 0.3s ease-in-out;
                &:is(.rotateIcon) { transform: rotate(45deg); }
            }
            
            &:hover i {
                opacity: 0.6;
            }
        }
    }

    .offcanvas__universe {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .offcanvas-submenu-container {
        .offcanvas-submenu-link {
            color: $secondary-font-color;
    
            &.active-link {
                font-weight: 700;
                color: $third-font-color;
                pointer-events:none;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
    
}