.mailListSignUp {
    background-color: $primary-color;
    max-width: 700px;
    margin: auto;

    @media (min-width:750px) {
        margin: 40px auto 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;

        max-width: 700px;
        margin: 0 auto;
        padding: 60px 40px;

        label {
            display: block;
            padding-bottom: 10px;
            font-weight: 400;
            font-size: 22px;
            text-align: center;
            margin-bottom: 14px;
            text-transform: none;

            &[for] { //This is interesting
                cursor: pointer;
            }
        }

        input.email {
            display: block;
            font-size: 15px;
            padding: 0 0.4em;
            // margin:0 4% 10px 0;
            margin-bottom: 10px;
            min-width: 130px;
            min-height: 48px;
            border-radius: 3px;
            border: 1px solid #999;
        }
        
        input.button {
            min-width: 90px;            
            background-color: $secondary-color;
            color: $primary-color;
            font-size: 24px;
            padding: 10px 0;
            text-transform: uppercase;
            border: none;
            border-radius: 4px;
            font-family: 'Unica One', sans-serif;
        }
    }
}