.product-result {
    display: flex;
    background: $primary-color;
    
    &__image-container {
        display: flex;
        align-items: center;
        
        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    color: $primary-font-color;
    font-weight: 700;

    &__name {
        text-overflow: ellipsis;
        line-height: 1.4em;
    }

    // &__price {
    //     font-size: 15px;
    //     color: $primary-font-color;
    // }
}

@mixin product-result-grid-mode {
    .product-result {
        flex-direction: column;
    
        border-right: 1px solid $third-font-color;
        border-bottom: 1px solid $third-font-color;
        // margin-bottom: -1px;
        font-size: 14px;
        
        height: 290px;
    
        @media (min-width:750px) {
            height: 390px;
        }
        
        &__image-container {
            display: flex;
            align-items: center;
            padding: 5px 5px 0 5px;
    
            height: 200px;
            @media (min-width:750px) {
                height: 300px;
            }
        }
        
        &__info {
            height: 30%;
            padding: 15px 5px 5px 16px;
        }
    
        &__name {
            max-height: 2.8em;
        }
    }
}

@mixin product-result-list-mode {
    .product-result {
        height: 192px;
        padding: 25px 12px 25px 5px;
        border-bottom: 1px solid $border-list-color;
        
        &__image-container {
            width: 142px;
            border: 1px solid $accent-light-color;
            margin-right: 15px;
        }
        font-size: 18px;
        
        // &__info {
        // }
    
        // &__name {
        // }

        // &__price {

        // }
    }
}

// .product-result {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     background: $primary-color;

//     border-right: 1px solid $third-font-color;
//     border-bottom: 1px solid $third-font-color;

//     height: 290px;

//     @media (min-width:750px) {
//         height: 390px;
//     }
    
//     &__image-container {
//         display: flex;
//         align-items: center;

//         height: 200px;
//         @media (min-width:750px) {
//             height: 300px;
//         }
        
//         img {
//             object-fit: contain;
//             max-width: 100%;
//             max-height: 100%;
//         }
//     }
    
//     &__info {
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
        
//         height: 90px;

//         padding: 15px 5px 5px 16px;
//     }
    
//     &__name {
//         text-overflow: ellipsis;
//         max-height: 2.8em;

//         color: $primary-font-color;
//         font-size: 14px;
//         line-height: 1.4em;
//         font-weight: 700;
//     }

//     &__price {
//         font-size: 15px;
//         color: $primary-font-color;
//     }
// }