.filter-list-container {
    overflow: auto;

    @media (min-width: 750px) {
        width: calc(100% + 1em); // Adjust based on scrollbar width to prevent layout shift
    }
}

.filter-list-wrapper {
    flex-grow: 1;
    padding-top: 8px;

    
    .category-links {                
        // border-bottom: 1px solid $$primary-font-color;
        padding: 0 5px 8px 0;
        
        a {
            display: block;
            padding: 5px 10px;
            color: $primary-font-color;
            text-align: left;
            
            &.active-link {
                background-color: $secondary-hover-color;
                color: $secondary-font-color;
                pointer-events:none;
                
                &:hover {
                    color: $misc-font-color;
                }
            }
            
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }    

    span {
        color: $primary-font-color;
        
        &:nth-of-type(1) {
            display: block;
            border-top: 1px solid $primary-font-color;
            padding-top: 8px;
        }
    }
    
    ul {
        // background-color: white;
        margin-bottom: 8px;
        list-style: none;
        
        &:not(:last-of-type) {border-bottom: 1px solid $primary-font-color !important;}
        &:last-of-type {border: none !important;}
    }

    li {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 8px;

        
        label {
            margin: 0;
            cursor: pointer;
        }
    }

    input {
        margin: 0;
        width: max-content;
    }
}

// &-sidebar {

    // }

    // &-mobile {

    // }