.searchbar {
    position: relative;

    &:focus, &:focus-within {
        & > .searchbar-results-container {
            &, .searchbar-results-arrow {
                display: block;
                // opacity: 1;
            }
        }
    }
}

.searchbar-input-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    input {
        margin: 0;
    }

    i {
        position: absolute;
        right: 0;
    }
}

@mixin show-search-when-focused {
    .searchbar-input-container {

        &:hover:not(:focus), &:hover:not(:focus-within){
            i {color: $secondary-color;}
        }

        &:focus-within, &:focus {
            
            input {
                width: 100%;
                z-index: 0;
                opacity: 1;
                background-color: $accent-light-color;
                cursor: text;
            }

            i {
                z-index: 2;
            }
        }
        
        input {
            width: 45px;
            z-index: 1;
            opacity: 0;
            color: $secondary-font-color;
            transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
            background-color: transparent;
            cursor: pointer;
        }

        i {
            z-index: 0;
            transition: z-index 0s 0.5s;
        }
    }
}

.searchbar-results-container {
    position: absolute;
    right: 0;
    top: 58px;
    width: 380px;
    max-height: 600px;
    z-index: 102;
    
    background-color: $primary-background-color;

    &, &-arrow{
        display: none;
        // opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    .searchbar-results-arrow {
        position: absolute;
        top: -13px;
        right: 30px;
        border-bottom: 13px solid $primary-background-color;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
    }

    .searchbar-results-header {
        text-align: end;
        font-size: 10px;
        padding: 3px 5px;
        background-color: $border-list-color;
    }

    .searchbar-results-empty {
        display: block;
        text-align: center;
        padding: 30px;
    }

    .searchbar-product-result {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 10px;

        min-height: 110px;
        max-height: 130px;
        padding: 5px 10px;
        
        border-top: 1px solid $border-list-color;
        border-bottom: 1px solid $border-list-color;

        &:hover {
            background-color: #e6e2e2b2;
        }

        &__image-container {
            width: 70px;
            height: 73px;

            img {
                height: auto;
                width: 100%;
                margin: auto;
            }
        }

        &__name {
            color: $secondary-color;
            font-size: 16px;
        }

        &__description {
            -webkit-line-clamp: 2;
            overflow: hidden;
            max-height: 2.8em;

            &, p, h1, h2, span {
                margin: 0;
                font-size: 16px !important;
                color: #666;
            }
        }

        &__price {
            font-size: 18px;
            color: $primary-font-color;

            del {
                font-size: 14px;
                color: #666;
            }
        }
    }

    .searchbar-results-link {
        display: block;
        padding: 5px 10px;
        text-align: center;
        color: $secondary-color;

        &:hover {
            background-color: #e6e2e2b2;
        }
    }
}