.homeLayout {

    .header {
        background: url("/src/assets/blur-nav.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    
    .main-content {
        background: url("https://firebasestorage.googleapis.com/v0/b/catalystclonedb.appspot.com/o/page-backgrounds%2Fhome-page-background.webp?alt=media&token=dbe42bd8-08b6-45fc-a465-0ab9da56c102");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; //This is interesting
        padding: 0;

        .carousel {
            img {min-height: calc(246px + (218 * (100vw - 750px) / 650));}
            background-color: $primary-font-color;
            margin-bottom: -6px;
        }
        
        .divider {
            position: relative;
            background-color: $secondary-color;
            width: 100%;
            height: 20px;
            z-index: 1;
        }
        
        &-container {        
            width: fit-content;
            margin: auto;
        }
        
        &-wrapper {
            padding: 40px 0;
            // overflow: auto;
            overflow: visible;
            
            background: rgba(255,255,255,0.1);
            box-shadow: 0 0 50px #00000080;
            backdrop-filter: blur(10px);
            
            .page-width {
                width: 100vw;
                max-width: 1180px;
                
                @media (min-width: 1300px) {
                    max-width: 1300px;
                    padding: 0 80px;      
                }
            }
        }            
    }
}
