.mainLayout {
    
    .main-content {
        position: relative;
        background: $primary-background-color;
        padding: 60px 0 80px 0;
        min-height: 503px;
        
        &.battletech-page, &.shadowrun-page, &.other-page, &.all-page {
            background-color: $accent-lighter-color;            
            // @keyframes fadeIn {
            //     from { opacity: 0; }
            //     to { opacity: 1; }
            // }

            &, &::before {
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-attachment: fixed !important;
            }
            

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                opacity: var(--background-image-opacity, 0); /* Start with the pseudo-element hidden */
                background-image: var(--background-image-url);
                transition: opacity 1s ease-out //, background-image 0.5s ease-in-out;
                // animation: fadeIn 1s ease-out forwards;
            }
        }
        

        &.battletech-page {
            background-color: #ad6024; //#2d160c #5f3b25 #ad6024 #5a4abd #c4c0f3
        }
        &.shadowrun-page {
            background-color: #60463c; //#302118 #60463c #90735f #b89f96 #e4dce1
        }
        &.other-page {
            background-color: #477373; //#efedde #b7b8ac #222722 #477373 #ca5c31
        }
        &.all-page {
            background-color: #3b2342; //#dac9d0 #ba6182 #3b2342 #4eb8cc #3d5b9b
        }
    }
}