$primary-color: #fff;
$secondary-color: #c2cb20;
$accent-color: #030303;

$primary-font-color: #222;
$secondary-font-color: #fff;
$misc-font-color: #fff9;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin center {
    justify-content: center;
    align-items: center;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) { //If a light color is passed through, return a dark color (and vice versa)
        @return #000;
    } @else {
        @return #fff;
    }
}