$primary-color: #fff;
$secondary-color: #c2cb20;
$secondary-hover-color: #989e19;;
$accent-color: #030303;
$accent-color-hover: #101010;
$accent-color-focus: #292929;
$accent-light-color: #262626;
$accent-lighter-color: #363636;

$primary-background-color: #f3f3f3;
$border-list-color: #eee;

$primary-font-color: #222;
$secondary-font-color: #fff;
$third-font-color: #666;
$misc-font-color: #fff9;

$sold-out-color: #ec523e;
$sold-out-hover-color: #d5d5d5;
$badge-color: #d2354f;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin hide-after-750 {
    @media (min-width:750px) {
        display: none;
    }
}
@mixin hide-before-750 {
    @media (max-width:749px) {
        display: none;
    }
}

@mixin hover-shadow {
    filter: drop-shadow(0px 0px 20px $secondary-color);
}

@mixin hover-highlight {
    filter: brightness(1.5);
}

@mixin hover-highlight-shadow {
    filter: drop-shadow(0px 0px 20px $secondary-color) brightness(1.5);
}

@mixin text-float-transition {
    transition: all .3s linear;
}

@mixin base-color-hover-color ($basecolor, $hovercolor) {
    
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) { //If a light color is passed through, return a dark color (and vice versa)
        @return #000;
    } @else {
        @return #fff;
    }
}