@font-face {
    // font-display: optional;
    font-family: Unica One;
    font-weight: 400;
    src: url("/src/assets/fonts/Unica_One/UnicaOne-Regular.ttf") format("truetype")
}

@font-face {
    // font-display: optional;
    font-family: Karla;
    // font-weight: 100;
    src: url("/src/assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype")
}