@import "config";

@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./components/bootstrap-carousel";
@import "./components/bootstrap-offcanvas";
@import "./components/searchbar";
@import "./components/header";
@import "./components/featured-product-banner";
@import "./components/collection-block";
@import "./components/mailListSignUp";
@import "./components/productCard";
@import "./components/productResult";
@import "./components/productFilters";
@import "./components/pagination";
@import "./components/addressForm";
@import "./components/footer";

@import "./pages/home";
@import "./pages/contact";
@import "./pages/cart";
@import "./pages/account";
@import "./pages/order";
@import "./pages/downloads";
@import "./pages/addresses";
@import "./pages/login";
@import "./pages/logout";
@import "./pages/register";
@import "./pages/notFound";
@import "./pages/collections";
@import "./pages/products";

@import "./layout/homeLayout";
@import "./layout/mainLayout";

// font-family: 'Karla', sans-serif;
// font-family: 'Unica One', sans-serif;

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: $accent-light-color;
    color: #666;
    line-height: 1.375;

    min-width: 320px;
    
    // MAKE MOBILE SPECIFIC
    @media (max-width: 749px) {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.page-width {
    max-width: 1180px;
    margin: auto;
    padding: 0 10px;
    
    @media (min-width: 750px) {
        padding: 0 20px;        
    }
    // @media (min-width: 1300px) {
    //     max-width: 1300px;
    //     padding: 0 80px;      
    // }
}

.header, footer {
    .page-width {
        padding: 0 20px;
    }
}

.main-content {
    background: $primary-background-color;
    padding: 60px 0 80px 0;
}

.content-container {
    // width: fit-content;
    margin: auto;

    // .content-wrapper {}
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a, i {
    transition: color .1s ease-in,background-color .1s ease-in;
}

.h1, h1, h4 {
    margin: 0 0 0.625em;
    text-transform: uppercase;
    color: $primary-font-color;
}

h1, .h1 {
    font-weight: 400;
    font-family: 'Unica One', sans-serif;
}

h4 {
    font-weight: 700;
    font-size: 1.125em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
}

hr {
    margin: 20px 0;
    border-color: $primary-font-color;
    border-style: solid;
    border-width: 1px 0 0;
}

.loading-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $primary-background-color;

    .loading-gif {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* This centers the image */
        z-index: 11;
        width: auto;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: $border-list-color;

    @media only screen and (max-width: 749px) {

        thead {display: none; }

        tr {
            display: block;
            border-top: none;
            border-bottom: 1px solid $primary-font-color;
            margin-bottom: 20px;
        }

        th,td {
            display: block;
            text-align: right;
            padding: 10px;
            margin: 0; 
        }

        td:before {
            content: attr(data-label);
            float: left;
            text-align: center;
            font-size: 14px;
            padding-right: 10px; 
        }

        .small--hide {
            @include hide-before-750
        }
    }
    //   .responsive-table__row {

    @media (min-width: 750px) {
        th, td {
            text-align: left;
        }
    }

    th, td {
        padding: 10px;
        border: 1px solid $primary-font-color;
        text-transform: capitalize;

        a {
            color: $secondary-color;
            &:hover {
                color: $secondary-hover-color
            }
        }
    }
    tr {
        background-color: white;
    }
}

label {
    display: block;
    margin-bottom: 10px;

    color: $primary-font-color;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

input, textarea, select, input[type=submit] {
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 10px;
    border: 0;
    outline: transparent;
    font-family: 'Karla', sans-serif;
    font-size: 16px;

    -webkit-appearance: none;
    // border-radius: 0;

    &:not(.btn) {
        background-color: white;
    }
}

.quantity-selector {

    // text-align: center;
    &__wrapper {
        display: flex;
        // padding-top: 13px !important;
    }

    input {
        width: 60px;
        text-align: center;
        margin: 0;
        border-left: 1px solid $third-font-color;
        border-right: 1px solid $third-font-color;
    }

    button {
        width: 30px;
        // height: 50px;
        font-size: 18px;
        color: $third-font-color;
        background-color: $secondary-font-color;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #e7e7e7;
            transition-duration: .08s;
        }
    }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
/* For Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-tag {
    // display: inline-block;
    display: flex;
    align-items: center;

    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 12px;

    background-color: $secondary-color;
    color: $primary-color;

    padding: 4px 10px;
    height: min-content;
}

.btn {
    display: inline-block;
    width: auto;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    cursor: pointer;
    border: 0px solid transparent;    
    
    font-size: .8125em;
    font-weight: 700;
    letter-spacing: .15em;
    text-transform: uppercase;

    padding: 15px 45px;
    transition: color .1s ease-in,background-color .1s ease-in;

    background-color: $secondary-color;
    color: $secondary-font-color;

    &.sold-out {
        background-color: $sold-out-color;
        &:hover {
            color: #757575;
            background-color: $sold-out-hover-color !important;
        }
    }

    &:not(:active):hover {
        background-color: $secondary-hover-color;
    }

    // -moz-user-select: none;
    // -ms-user-select: none;
    // -webkit-user-select: none;
    // user-select: none;

    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
}

.recaptcha {
    margin: auto;
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-button {
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 101;
        transform: translateY(-10px);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;

        a {
        color: $third-font-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            color: $secondary-color;
        }
        }
    }
    &:focus-within .dropdown-content {
        display: block;
        transform: translateY(0);
        opacity: 1;
    }
}

.sale-badge {
    position: absolute;
    z-index: 10;
    background: $badge-color;
    color: $secondary-font-color;

    padding: 0 4px 0 8px;
    margin: 3px 0 0 3px;

    font-weight: 500;
    font-size: 11px;
    line-height: 20px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -9px;
        border-left: 9px solid $badge-color;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}

.offcanvas {
    max-width: 300px;
    padding-right: 25px;

    .offcanvas-header {
        position: relative;
        background: $accent-light-color;
        padding: 10px;

        .btn-close {
            position: absolute;
            right: -24px;
            top: -1px;
            height: 65px;
            margin: 0;
            border: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $accent-light-color;

            cursor: pointer;

            &:hover {
                background-color: $accent-lighter-color;
            }

            &::after {
                content: "X";
                color: $secondary-font-color;
            }
        }
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        background: $primary-color;
    }
    
    .offcanvas-link {
        // flex: 1 0 0;
        color: $primary-font-color;
        font-size: 1.625em;
        font-weight: 400;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-family: 'Unica One', sans-serif;
        padding: 13px 0 13px 20px;
        height: min-content;
    }

    .offcanvas-submenu {
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        
        background: $accent-light-color;
        border: none !important;

        &-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            padding: 20px 10px;
        }
    }

    .offcanvas-submenu-link {
        color: $third-font-color;
        padding: 5px 10px;
        font-size: 17px;

        &:hover {
            color: $secondary-color;
        }
    }
        
    .show-submenu {
        max-height: 100%;
    }
    .hide-submenu {
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        max-height: 0%;
    }
}

.display-none {display: none !important;}

// FOR IMAGE LOADING

// IMAGE CHANGES
.imgLoaded {
    filter: blur(0px);
    transition: filter 0.5s linear;
}

.imgLoading {
    filter: blur(10px) !important;
    clip-path: inset(0);
    animation: pulse 2.5s infinite;    
}

@keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0);
    }
    50% {
        background-color: rgba(255,255,255,0.2);
    }
    100% {
        background-color: rgba(255,255,255,0);
    }
}