.login-page {
    .main-content {
        background: $primary-background-color;
        padding: 60px 0 80px 0;
    }

    .content-block {
        background: $accent-lighter-color;
        max-width: 445px; //560px;
        padding: 30px;
        margin: auto;
        
        .customerForm {
            //Title
            h1 {
                color: $secondary-font-color;
            }
            text-align: center;

            //Inputs
            .btn {
                background: $primary-font-color;
                letter-spacing: normal;

                &:hover {
                    background-color: $secondary-color;
                }
            }

            //Change view links
            a {
                color: $secondary-color;
                cursor: pointer;

                &:hover {
                    color: $secondary-hover-color;
                }
            }

        }

    }

}