#Account-Details {
    h2, h3 {color: $primary-font-color}
    
    .addresses-link {
        @include link-coloring;
    }

    &__Wrapper {
        display: grid;
        @media (min-width: 750px) {
            grid-template-columns: 1fr 260px;
        }
    }

    &__Main-Container {
        // @media (min-width: 750px) {
            //     padding-left: 20px;
            // }

            .account__continue {
                margin-bottom: 20px;
            }
    }

    &__Secondary-Container {
        margin-top: 20px;

        @media (min-width:750px) {
            padding-left: 20px;
            margin: 0 0 0 20px;
        }
    }
}

