.cart-page {
    .main-content {
        background: $primary-background-color;
        padding: 60px 0 80px 0;
    }

    .cart__empty {
        padding: 120px 0;
        text-align: center;
    }

}