#Collections-Container {
    // background-color: $accent-light-color;
    
    .collection-block {
        @media (max-width:749px) {
            display: none;
        }
    }    
    
    .search-results {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0px 0px 50px rgb(0, 0, 0, 0.5);
        
        padding: 16px 5px;
        margin-bottom: 30px;

        @media (min-width: 510px) {
            padding: 16px;
        }
        
        &__header {
            
            &-buttons {
                display: flex;
                justify-content: space-between;
                gap: 5px;
                padding: 16px 0px;
            }

            #Search-Results__Result-Sort-Selector {
                width: max-content;
                padding: 4px 16px 4px 8px;
                margin: 0;
                cursor: pointer;
            }

            &-filter {
                position: relative;

                @media (min-width:839px) {
                    display: none;
                }

                .filter-indicator {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    
                    width: 18px;
                    height: 18px;
                    border-radius: 100%;

                    background-color: $badge-color;
                    color: $secondary-font-color;
                    font-size: 10px;
                    letter-spacing: 0;
                    line-height: 0;
                }
            }
            
            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: right;
                gap:8px;
            }

            button {
                font-size: 13px;
                letter-spacing: .75px;
                padding: 7px 16px;
                color: $primary-font-color;
                font-weight: bold;

                .fa-caret-down {
                    padding-left: 10px;
                }
            }
        }

        &__main {
            position: relative;
            display: flex;
            @media (min-width: 839px) {padding-right: 223px;}

            // display: grid;
            // grid-template-columns: 1fr;
            // @media (min-width: 839px) {grid-template-columns: 1fr 200px}
        }
        
        &__main-content {
            position: relative;
            display: grid;
            width: 100%;
            background-color: $primary-color;
            border: 3px solid $accent-color;
            // @media (min-width:839px) {}

            min-height: 296px; //290px;
            @media (min-width: 750px) {
                min-height: 396px;
            }
            
            &:is(.grid-mode) {
                @include product-result-grid-mode;             
                grid-template-columns: 1fr;
                
                @media (min-width: 450px) {
                    grid-template-columns: 1fr 1fr;                    
                }
                @media (min-width: 1115px) {
                    grid-template-columns: 1fr 1fr 1fr;                    
                }
            }
            &:is(.list-mode) {
                // min-height: 384px;
                @include product-result-list-mode;
                grid-template-columns: 1fr;
            }

            .no-results {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // width: max-content;
                text-align: center;
            }
        }
        
        &__main-sidebar {
            position: absolute;
            top: 0;
            right: 0;

            display: flex;
            flex-direction: column;

            width: 207px;
            max-height: 100%;
            border-bottom: 1px solid $primary-font-color;
            
            @media (max-width: 838px) {display: none;}
            
            h1 {
                margin: 0 0 0px 0;
                border-bottom: 1px solid $primary-font-color;
            }
            
            // &__filter-wrapper {
            //     max-width: 207px;
            //     overflow: auto;
            //     flex-grow: 1;
            //     padding-top: 8px;
            //     border-top: 1px solid $primary-color;
            //     border-bottom: 1px solid $primary-color;
            // }

        }
    }    
}

//For the sidebar-mobile-filters
.offcanvas-filters {

    .offcanvas-header {
        h1 {
            color: $secondary-font-color;
            margin: 0;
        }
    }

    .offcanvas-body {
        padding: 10px;
    }

    .search-results__mobile-sidebar {
        
        ul {
            // background-color: white;
            border-bottom: 1px solid $border-list-color;
            margin-bottom: 8px;
            list-style: none;
        }
    
        li {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 8px;
    
            label {margin: 0 !important;}
        }
    
        input {
            margin: 0;
            width: max-content;
        }
    }
}