#Downloads-Container {
    .downloadable-item {
        display: flex;
        gap: 16px;
        
        padding: 8px 0px;
        &:first-of-type {
            border-top: 1px solid $primary-font-color;
        }
        border-bottom: 1px solid $primary-font-color;

        &__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
    
            min-height: 120px;
            @media (min-width:750px) {
                min-height: 180px;
            }
    
    
            a {
                display: flex;
                align-items: center;
                padding: 10px 0px;
                margin: 0 5px;
    
                img {
                    width: auto;
                    height: auto;
                    max-width: 120px;
                    max-height: 120px;
    
                    @media (min-width:750px) {
                        max-height: 180px;
                    }
                }
            }
        }

        &__detail-wrapper {
            a {
                color: $secondary-color;
                &:hover {
                    color: $secondary-hover-color;
                }
            }
        }
    }

    .downloads-notFound {
        padding: 120px 0;
        text-align: center;
    }
}