#Downloads-Container {
    .downloadable-item {
        display: flex;
        gap: 16px;
        
        padding: 8px 0px;
        border-bottom: 1px solid $primary-font-color;
        
        &:first-of-type {border-top: 1px solid $primary-font-color;}
        @media (max-width:449px) {
            flex-direction: column;
        }

        &__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            
            height: 140px;
            width: 105px;

            @media (max-width:449px) {margin: auto;}
            @media (min-width:750px) {
                height: 180px;
                width: 140px;
            }

            border: 1px solid $primary-font-color;
    
            a {
                display: flex;
                align-items: center;
                padding: 10px 0px;
                margin: 0 5px;
    
                img {
                    width: auto;
                    height: auto;
                    max-width: 120px;
                    max-height: 120px;
                    // object-fit: contain;
    
                    @media (min-width:750px) {
                        max-height: 180px;
                    }
                }
            }
        }

        &__detail-wrapper {
            @media (max-width:449px) {text-align: center;}
            a {
                color: $primary-font-color; //$secondary-color;
                &:hover {
                    color: $secondary-hover-color;
                }
            }
        }
    }

    .downloads-notFound {
        padding: 120px 0;
        text-align: center;
    }
}