#Home-Container {

    .getting-started {
        display: flex;
        flex-direction: column;
        // margin-top: 40px;

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            
            @media (min-width: 500px) {
                width: 95%;
            }
            
        }
        &__button {
            width: 95%;
            transition: transform .2s ease-in-out, opacity .5s ease-in-out;
            height: calc(90px + (113 * (100vw - 503px) / 648));
            max-height: 211px;
            
            @media (max-width: 499px) {
                height: calc(113px + (59 * (100vw - 324px) / (482 - 324)));
                min-height: 112px;
                margin-bottom: 20px;
            }
            
            &:hover {
                transform: translateY(-5px);
                filter: brightness(1.5);

                @media (hover: hover) {
                    @include hover-highlight-shadow;
                }
            }
        }

        @media (min-width: 500px) {
            flex-direction: row;
        }
    }

    .featured-products {
        // margin-bottom: 50px;
    
        @media (max-width: 499px) {
            background-color: $primary-color;
        }
        @media (min-width: 750px) {
            margin-top: 40px;
        }
    }

    .collection-buttons-container {
        // display: flex;
        // justify-content: center;
        width: 100%;
        height: 100%;

        .collection-buttons-wrapper {
            display: grid;
            grid-template-columns: 1fr 31% 1fr;
            // justify-content: center;
            // max-width: 1180px;
            // margin: 7vw 10px 30px 10px;
            margin: 0 10px;

            @media (max-width:330px) {
                display: none;
            }
            @media (min-width: 390px) {
                margin: 0 40px; //5px; //40px
            }
            @media (min-width: 503px) {
                margin: 3vw 40px 0 40px;
            }
            @media (min-width: 750px) {
                margin: 3vw 4vw;
            }
            @media (min-width: 830px) {
                margin: 4vw 0;
            }

            .collection-button {
                min-width: 100px;
                min-height: 105px;
                max-width: 560px;
                max-height: 428px;
                height: 100%;
                
                @media (min-width: 390px) {
                    min-height: calc(123px + (425 - 123) * ((100vw - 400px) / (1200 - 400)));
                }

                @media (min-width: 1200px) {
                    min-height: 425px;
                }
            }
            
            a:nth-of-type(2) {                
                margin: 0 -7vw;
                min-width: 135px;

                @media (min-width: 1200px) {
                    margin: 0 -84px;
                }
            }

            img:hover {
                @include hover-highlight-shadow;
            }
        }
    }
}