#Login-Container {

    .content-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        max-width: 445px; //560px;
        padding: 30px 2px; //30px
        margin: auto;
        background: $accent-lighter-color;
        
        .customerForm {
            display: flex;
            flex-direction: column;
            margin: auto;
            // min-height: 381px;
            // width: 300px;

            //Title
            h1 {
                color: $secondary-font-color;
            }
            text-align: center;

            //Inputs
            // input {
                // margin-left: 10px;
                // margin-right: 10px;
            // }

            .btn {
                background: $primary-font-color;
                letter-spacing: normal;

                &:hover {
                    background-color: $secondary-color;
                }
            }

            //Change view links
            a {
                color: $secondary-color;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    color: $secondary-hover-color;
                }
            }
        }

    }

}