#Order-Details-Container {

    .order-details {
        h1 {margin-bottom: 20px;}
        h2 {color: $primary-font-color;}

        &__wrapper {
            display: grid;
    
            @media (min-width:750px) {
                grid-template-columns: 1fr 260px;
            }
        }

        &__main-container {

            .button-link {
                margin: 0px 20px 20px 0;
            }

            table {
                @media (max-width: 749px) {
                    tfoot {
                        tr:nth-last-child(2) {
                            margin: 0;
                            border-bottom: none;
                        }
                    }
                }
            }

            .order-details__special-instructions {
                margin-top: 20px;
                max-height: 80px;
                overflow: auto;
            }

        }

        &__address-container {
            margin-top: 20px;

            @media (min-width:750px) {
                padding-left: 20px;
                margin: 0 0 0 20px;
            }
        }
    }

    .order-notFound {
        padding: 120px 0;
        text-align: center;
    }
}