#Products-Container {
    @media (min-width:750px) {
        display: grid;
        
        &.grid_50-50 {
            grid-template-columns: 1fr 50%;
            gap: 20px;
        }
        &.grid_60-40 {
            grid-template-columns: 1fr 40%;
        }
    }

    // .products-images {
        // &__primary {
        //     display: flex;
        //     justify-content: center;
        //     margin: 0 20px;

            // img {
            //     height: auto;
            //     width: auto;
            //     max-width: 100%;
            //     max-height: 480px;

                // cursor: zoom-in;
                // transition: transform 0.25s ease;
            // }

            // img.expanded {
            //     transform: scale(2);
            //     cursor: zoom-out;
            // }
    //     }
    // }

    .image-gallery {
        // width: fit-content;
        margin: 10px 20px;

        &.fullscreen-modal {
            z-index: 1000;
            margin: 0;
            padding: 20px;

            .image-gallery-content {
                // margin: 20px 0;
                // max-height: 80vh;
            }

            .image-gallery-fullscreen-button {
                cursor: zoom-out;
            }

            .image-gallery-image {
                min-height: calc(100vh - 50px) !important;
                
                @media screen {
                    min-height: calc(100vh - 170px) !important;                    
                }
            }

            // .image-gallery-thumbnails {
            //     display: none;
            // }

            // .image-gallery-right-nav, .image-gallery-left-nav {
            //     display: none;
            // }

            // .image-gallery-slide-wrapper, .image-gallery-thumbnails {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100vh;
            // }

            // .image-gallery-slide-wrapper {margin-left: 110px;}

        }

        &-slide-wrapper {
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid $accent-color;
            // height: calc(-120.028px + (0.6574 * (100vw - 750px) / (750 - 538)));
            
            
            // img.expanded {
                //     transform: scale(2);
                //     cursor: zoom-out;
            // }
            .image-gallery-image {
                height: calc(382px + (538 - 382) * ((100vw - 800px) / (1001 - 800)));
                max-height: 500px;
                min-height: 300px;
                max-width: 100%; //532px;
                width: fit-content;
                object-fit: contain;
            }

            .image-gallery-right-nav, .image-gallery-left-nav {
                z-index: 2;
            }
            
            .image-gallery-fullscreen-button {
                svg {visibility: hidden;}
                cursor: zoom-in;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
            
            &-slide {
            
                @media (min-width:750px) {
                    min-height: 371px;
                }

                img {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 480px;

                    transition: transform 0.25s ease;
                }
            }
        }

        button:focus {
            outline: none; //0px solid $secondary-color;
            border: none; //4px solid transparent;
        }

        &-icon:hover {color: $secondary-color;}

        &-right-nav, &-left-nav {
            @media (min-width: 768px) {
                svg {
                    width: 36px !important;
                    height: 72px !important;
                }
            }
        }

        &-thumbnails {
            // max-height: 400px;
            z-index: 5;

            // @media (min-width:750px) { 
            //     height: 400px !important;
            // }

            cursor: default;
            button:hover { cursor: pointer;}
        }

        &-thumbnail {
            height: 120px;            
            &:hover, &.active {border-color: $secondary-color !important;}

            span {
                display: inline;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
            }
        }        
    }

    .products-main {
        padding: 0 10px;

        &__title {
            margin-bottom: 8px;
            @media (max-width:749px) {       
                text-align: center;
            }
        }
        
        &__price-container {
            display: flex;
            @media (max-width:750px) {
                justify-content: center;
            }
            align-items: center;
            gap:10px;

            font-size: 20px;

            &__sale-price {text-decoration: line-through;}
        }
    }

    .products-form { //Nested in .products-main
        padding: 0 5px;

        &__input-container {
            display: flex;
            gap: 10px;
        }

        &__variant-selector-wrapper {width: 100%;}

        select {margin-bottom: 0;}

        .btn {
            margin-top: 20px;
            width: 100%;
        }

        #ContactFormSubmit {
            margin-bottom: 30px;
        }
    }
}