#Register-Container {
    text-align: center;
    margin: auto;

    // @media (min-width:750px) {
        max-width: 500px;
    // }

    .register-form {

        .btn {
            background: $accent-light-color;
    
            &:hover {
                background: $secondary-color;
            }
        }
    
        .recaptcha div div {
             margin: auto;
        }

        //Change view links
        a {
            color: $secondary-color;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                color: $secondary-hover-color;
            }
        }
    }

}